@media(max-width: 1199px){
	.adv-item{
		padding: 10px;
		padding-bottom: 30px;
	}
	.about-content{
		padding-left: 0;
		padding-right: 0;
	}
	.about-img{
		left: 30px;
	}
	.order-title{
		font-size: 18px;
	}
	html{
		margin-right: 0;
	}
}
@media(min-width: 992px){
	.visible-md{
		display: none;
	}
}
@media(max-width: 991px){
	.hidden-md{
		display: none;
	}
	.review-slider__item {
    width: 100%;
    display: block!important;
    margin: 0 auto;
  }
  .advantages-row{
  	display: block;
  }
  .banner{
  	min-height: 560px;
  }
  .about-bg{
  	margin-bottom: 30px;
  }
  .work-item--small{
  	width: 100%;
  }
  .work-item__left{
  	width: 75%;
  }
  .work-item__right{
  	width: 24%;
  }
  .review .review-slider .slick-track{
  	padding-top: 70px;
  }
  .review:before{
  	right: 	30px;
  	top: 0;
  }
  .review-slider .slick-arrow{
  	right: auto;
  	left: 10px;
  }
  .review-slider .design-slider__next{
  	left: 55px;
  }
  .map-wrap{
  	height: 750px;
  }
  .map{
  	height: 730px;
  }
  .contacts-form{
  	padding: 30px;
  }
  .footer-menu li + li{
  	margin-left: 25px;
  }
  .footer-menu{
  	margin-right: 60px;
  }
  .menu-item{
  	position: absolute;
  	z-index: 2;
  	right: 0;
  	top: 0;
  	width: 190px;
  	background: #bba271;
  	padding: 40px;
  	display: none;
  }
  .menu-item a{
  	color: #fff !important;
  }
  .menu-item li{
  	max-width: inherit;
  	width: 100%;
  	margin-right: 0;
  }
  .menu-item li + li{
  	margin-top: 45px;
  }
	.order-item{
		width: 100%;
		max-width: inherit;
	}
	.order-title{
		font-size: 24px;
	}
	.order-content:after{
		background: url(../images/line-geos.png)no-repeat;
		width: 104px;
		height: 1287px;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
	}
	.order-content{
		max-width: 300px;
		margin: auto;
	}
	.order-item:nth-child(2n){
		margin-top: 0;
	}
	.order-item:nth-child(2) {
    top: -27px;
    left: 130px;
	}
	.order-item:nth-child(2) .order-title{
		display: inline-block;
		text-align: right;
	}
	.order-item:nth-child(2) .order-icon{
		padding-left: 32px;
	}
	.order-item:nth-child(2) .order-icon:after{
		left: 17px;
	}
	.order-item:nth-child(3){
		margin-top: 45px;
	}
	.order-item:nth-child(3) .order-icon{
		padding-left: 74px;
	}
	.order-item:nth-child(3) .order-icon:after{
		left: 68px;
	}
  .order-item:nth-child(4) .order-icon{
    padding-left: 152px;
  }
  .order-item:nth-child(4) .order-title{
    text-align: right;
  }
  .order-item:nth-child(4) .tooltip {
    left: 145px;
    top: 40px;
  }
  .order-item:nth-child(4){
    left: auto;
  }
  .order-item:nth-child(4) .order-icon:after{
    left: 165px;
  }
  .order-item:nth-child(5){
    top: 0;
  }
  .order-item:nth-child(5) .order-icon{
    padding-left: 105px;
  }
  .order-item:nth-child(5) .tooltip {
    top: 45px;
    left: 185px;
  }
  .order-item:nth-child(5) .order-icon:after{
    left: 120px;
  }
  .order-item:nth-child(6){
    margin-top: 60px;
    left: 0;
    top: 0;
  }
  .order-item:nth-child(6) .order-title{
    text-align: right;
  }
  .order-item:nth-child(6) .order-icon{
    padding-left: 155px;
    padding-top: 15px;
  }
  .order-item:nth-child(6) .tooltip{
    left: 140px;
    top: 20px;
  }
  .order-item:nth-child(6) .order-icon:after{
    left: 175px;
  }
  .order-item:nth-child(7){
    top: 0;
    margin-top: 28px;
  }
  .order-item:nth-child(7) .order-title{
    padding-left: 38px;
  }
  .order-item:nth-child(7) .order-icon{
    padding-left: 90px;
  }
  .order-item:nth-child(7) .tooltip {
    top: 55px;
    left: 165px;
  }
  .order-item:nth-child(7) .order-icon:after{
    left: 98px;
  }
  .order-item:last-child{
    top: 0;
    margin-top: 60px;
  }
  .order-item:last-child .order-icon{
    text-align: right;
    padding-right: 59px;
  }
  .order-item:last-child .order-title{
    text-align: right;
  }
  .order-item:last-child .tooltip{
    left: 140px;
  }
  .order-item:last-child .order-icon:after{
    left: 180px;
  }
  .order-item:nth-child(3){
    left: 0;
  }
  .order-item:nth-child(3) .tooltip{
    left: 140px;
  }
}
@media(min-width: 768px){
  .visible-xs{
    display: none !important;
  }
}
@media(max-width: 767px){
  .main-title__content{
    width: calc(100% - 33px);
    padding: 25px;
    text-align: right;
    margin-left: 0;
    right: 0;
  }
  .btn-black{
    width: 280px;
  }
  .banner{
    width: 90%;
    margin-left: 10%
  }
  .arrow-icon{
    right: 15%;
  }
  .sidebar{
    height: 60%;
    left: 15px;
  }
  .map-bottom{
    display: block;
  }
  .map-bottom__phone a{
    display: block;
  }
  .map-bottom__phone a:first-child{
    margin-right: 0;
    padding-left: 0;
  }
  .map-bottom__email{
    padding-left: 30px;
  }
  .map-bottom__email::before{
    left: 0;
  }
  .map-bottom__phone::before{
    top: 10px;
  }
  .map-bottom__phone{
    padding-left: 30px;
    margin-bottom: 20px;
  }
  .about-bg{
    width: 270px;
    height: 230px;
  }
  .about-img{
    width: 270px;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
    left: 20px;
    top: 20px;
  }
  .design-item{
    height: 400px;
  }
  .design-item h2{
    font-size: 32px;
  }
  .design-item__small{
    height: 195px;
  }
  .hidden-xs{
    display: none;
  }
  .work-item__left{
    width: 100%;
  }
  .work-text{
    bottom: 60px;
    max-width: 100%;
  }
  .about{
    margin-bottom: 50px;
  }
}

@media(min-width: 576px){
  .visible-exs{
    display: none;
  }
}
@media(max-width: 575px){
  .contacts-form{
    width: 100%;
    padding: 30px 10px;
  }
  .hidden-exs{
    display: none;
  }
  h2{
    font-size: 36px;
  }
  .footer-right{
    margin-top: 15px;
  }
  .review-img{
    width: 100%;
    height: 250px;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .review:before{
    width: 70px;
    height: 70px;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .review .item-title{
    padding-right: 30px;
  }
  .review-slider__wrap.text{
    display: block;
    height: auto;
  }
  .review-info{
    width: 100%;
    max-width: inherit;
    height: auto;
  }
  .review-name{
    padding: 10px 25px;
    bottom: 0;
  }
  .review-text{
    padding: 15px;
  }
  
  .contacts{
    margin-bottom: 50px;
  }
  .footer-menu{
    font-size: 14px;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    -webkit-justify-content: space-between !important;
    -moz-box-pack: justify !important;
    justify-content: space-between !important;
  }
  .footer-right{
    width: 100%;
  }
  .footer-menu li + li{
    margin-left: 0;
  }
  .btn-black{
    width: 250px;
  }
  .design{
    margin-bottom: 50px;
  }
  .order-item:nth-child(2){
    left: auto;
  }
  .order-item:nth-child(2) .order-title{
    display: block;
  }
  .order-item:nth-child(2) .tooltip{
    left: 140px;
    top: 30px;
  }
  .order-item:nth-child(2) .order-icon{
    padding-left: 157px;
  }
  .order-item:nth-child(2) .order-icon:after{
    left: 170px;
  }
  .order-item:nth-child(5){
    left: 0;
  }
  .order-item:nth-child(5) .order-icon{
    padding-left: 50px;
  }
  .order-item:nth-child(5) .order-icon:after{
    left: 60px;
  }
  .order-item:nth-child(5) .tooltip{
    left: 145px;
  }
  .work-item{
    height: 390px;
  }
  .contacts-form{
    position: relative;
  }
  .map-wrap{
    height: 500px;
  }
  .map{
    height: 480px;
  }
  .review .review-slider .slick-track{
    padding-top: 0;
  }
  .review-content{
    margin-top: 70px;
  }
  .review-slider .slick-arrow{
    bottom: -45px;
  }
  .review-content{
    padding-bottom: 50px;
  }
  .works-slider .slick-arrow{
    bottom: 0;
  }
}